.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.95em;
    background-color: #222;
    gap: 5px;
    color: #fff;
}

.footer ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.footer svg{
    font-size: 28px;
    cursor: pointer;
}

.footer svg:hover{
    color: #ffbb33;
}

.footer span{
    color: #ffbb33;
}