.linkbutton{
    padding: 1em;
    background-color: #222;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.linkbutton:hover{
    color: #ffbb33;
}